
/*** BODY ***/

/* BODY DA PÁGINA */
.body_chat_fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ead8cc;
    height: 100vh;
}

/* BODY DO CHAT */
.body_chat_topo {
    background-color: #fafafa;
    width: 50vw;
    border: 3px solid black ;
}


/*** HEADER ***/

/* BOX DO HEADER DO CHAT */
#header_chat {
    background-color: grey;
    height: 10vh;
    width: 50vw;
    border: 3px solid black;
    border-bottom: none;   
}

/* TÍTULO DO CHAT */
.Titulo {
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


/*** VISOR ***/

/* ÁREA DE VISUALIZAÇÃO DAS MENSAGENS */
.visor_fundo {
    height: 35vh;
    width: 49vw;
    padding: 1vh .5vw;
    overflow-y: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/*BOX DAS MENSAGENS */
.visor_topo {
    height: 6vh;
    width: 47.5vw;
    padding: .5vw;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1vh 0vw 0vh .2vw;
    overflow-y: auto;
    word-break: break-word;
}

/* REMOÇÃO DO SCROLL */
.visor_fundo::-webkit-scrollbar,
.visor_topo::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 0! important;  
}


/*** MENSAGEM ***/

/* BODY MENSAGEM */
.container_enviar_msg {
    display: flex;
    justify-content: center;
}

/* BOX DA MENSAGEM */
.box_msg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: gray;
    height: 20vh;
    width: 40vw;
    border: 2px solid black;
    border-bottom: none;
}

/* BOX DE ENTRADA DO TEXTO */
#box_texto {
    text-align: left;
    height: 85%;
    width: 34vw;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
}

/* BOTÃO DE ENVIAR MENSAGEM */
.btn_enviar {
    background-color: rgb(87, 104, 233);
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    border-radius: 20%;
    float: right;
    margin-top: -6.5rem;
    margin-right: .5rem;
}


/*** EDITAR/EXCLUIR ***/

/* BOTÃO DE EDITAR MENSAGEM */
.btn_editar {
    background-color: #c48e42;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    border: none;
    float: right;
}

/* BOTÃO DE EXCLUIR MENSAGEM */
.btn_excluir {
    background-color: #d75c5c;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    border: none;
    float: right;
    margin-right: .1vw;
    margin-bottom: 1vh;
}

/* BOX DE MENSGAEM DO EDITAR */
.texto_edit {
    width: 20vw;
    border: 1px solid black;
    padding: .1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1vh 0vw 0vh .2vw;
}

/* BOTÃO DE ENVIAR DO EDITAR*/
.enviar {
    background-color: green;
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    float: center;
    margin-left: .2rem;
}
